/* ===== RESET ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#eef7f8;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;
}

/* ===== CONTENEDOR ===== */

.contenedor{
    width:100%;
    max-width:1200px;
}

/* ===== BOTON ===== */

.btn-regresar{
    display:inline-block;

    margin-bottom:25px;

    text-decoration:none;

    color:#0f172a;

    font-weight:bold;

    transition:0.3s;
}

.btn-regresar:hover{
    color:#06b6d4;
}

/* ===== TARJETA ===== */

.detalle-libro{
    background:white;

    border-radius:35px;

    padding:50px;

    display:flex;

    gap:60px;

    align-items:center;

    box-shadow:0 15px 40px rgba(0,0,0,0.08);
}

/* ===== IMAGEN ===== */

.imagen{
    flex:1;

    display:flex;

    justify-content:center;
}

.imagen img{
    width:100%;
    max-width:350px;

    transition:0.4s;
}

.imagen img:hover{
    transform:scale(1.05);
}

/* ===== INFO ===== */

.info{
    flex:1;
}

/* CATEGORIA */

.categoria{
    background:#dbeafe;

    color:#2563eb;

    padding:10px 18px;

    border-radius:30px;

    font-size:14px;

    font-weight:bold;
}

/* TITULO */

.info h1{
    font-size:55px;

    margin-top:25px;
    margin-bottom:25px;

    line-height:1.1;

    color:#0f172a;
}

/* DESCRIPCION */

.descripcion{
    font-size:19px;

    line-height:1.8;

    color:#64748b;

    margin-bottom:30px;
}

/* PRECIO */

.precio{
    font-size:40px;

    color:#06b6d4;

    margin-bottom:30px;
}

/* BOTON */

.info button{
    padding:18px 40px;

    border:none;

    border-radius:50px;

    background:linear-gradient(
    135deg,
    #06b6d4,
    #2563eb
    );

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

.info button:hover{
    transform:translateY(-5px);
}

/* ===== RESPONSIVE ===== */

@media(max-width:900px){

    .detalle-libro{
        flex-direction:column;

        text-align:center;
    }

    .info h1{
        font-size:40px;
    }
}